$color-primary: #73436B;
$color-secondary: #F2A0ED;
$color-tertiary: #44DFC2;
$color-background: #6D969C;
$color-black: #000;
$color-white: #eee;

@import './ImageDisplay';
@import './MarsRover';
@import './MediaResults';
@import './Navbar';
@import './RoverData';
@import './RoverPhotos';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $color-background;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.body {
  margin-top: 40px;
}
