.MarsRover {
  text-align: center;
  margin-top: 40px;
  label {
    font-size: 20px;
    color: $color-white;
    margin-right: 20px;
  }
  select {
    font-size: 20px;
    margin: 10px auto;
  }
  .form {
    background: rgba(61, 36, 115, 0.9);
    width: 70%;
    margin: 0 auto;
  }
}
