.MediaResults {
  .hidden {
    display: none;
  }
  .results-title {
    text-transform: uppercase;
    text-align: center;
  }
  .flex-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .AudioResult, .ImageResult, .VideoResult {
      width: 300px;
      margin: 20px;
      background-color: $color-white;
      padding: 10px;
      border-radius: 5px;
      text-align: center;
      word-wrap: break-word;
    }
  }
}
