@mixin tableFlex {
  display: flex;
  &>div {
    border: 1px solid black;
    padding: 4px;
    box-sizing: border-box;
  }
  .sol {
    flex-basis: 10%;
  }
  .num-of-photos {
    flex-basis: 20%;
  }
  .cameras {
    flex-basis: 50%;
    .camera {
      padding: 0 3px;
    }
  }
  .view-button {
    flex-basis: 20%;
  }
}

.RoverData {
  border: 5px solid $color-white;
  text-align: left;
  width: 80%;
  margin: 50px 10%;
  background-color: rgba(0,0,0,1);
  color: $color-white;
  height: 50vh;
  position: relative;
  overflow: scroll;
  padding-top: 30px;
  .table-header {
    width: 64%;
    height: 30px;
    margin-top: -30px;
    position: fixed;
    background-color: $color-secondary;
    color: $color-black;
    z-index: 1;
    @include tableFlex;
  }
  .table-row {
    position: relative;
    z-index: 0;
    @include tableFlex;
  }
  a {
    color: $color-white;
  }
}
