.ImageDisplay {
  flex-basis: 40%;
  background-color: #F2A0ED;
  border: 3px solid #eee;
  padding: 10px;
  box-sizing: border-box;
  margin: 25px; }
  .ImageDisplay p {
    margin-bottom: 0; }
  .ImageDisplay img {
    width: 100%;
    max-height: 400px; }

.MarsRover {
  text-align: center; }
  .MarsRover label {
    font-size: 20px;
    color: #eee;
    margin-right: 20px; }
  .MarsRover select {
    font-size: 20px;
    margin: 10px auto; }
  .MarsRover .form {
    width: 70%;
    margin: 0 auto; }

.MediaResults .hidden {
  display: none; }

.MediaResults .results-title {
  text-transform: uppercase;
  text-align: center; }

.MediaResults .flex-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .MediaResults .flex-results .AudioResult, .MediaResults .flex-results .ImageResult, .MediaResults .flex-results .VideoResult {
    width: 300px;
    margin: 20px;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    word-wrap: break-word; }

.Navbar {
  background-image: url("./images/stars_banner.jpg");
  background-size: cover;
  padding: 30px 0; }
  .Navbar a {
    color: #eee;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px; }
    .Navbar a:hover {
      color: #44DFC2; }
  .Navbar .active {
    color: #44DFC2; }

.RoverData {
  border: 5px solid #eee;
  text-align: left;
  width: 80%;
  margin: 50px 10%;
  background-color: black;
  color: #eee;
  height: 50vh;
  position: relative;
  overflow: scroll;
  padding-top: 30px; }
  .RoverData .table-header {
    width: 64%;
    height: 30px;
    margin-top: -30px;
    position: fixed;
    background-color: #F2A0ED;
    color: #000;
    z-index: 1;
    display: flex; }
    .RoverData .table-header > div {
      border: 1px solid black;
      padding: 4px;
      box-sizing: border-box; }
    .RoverData .table-header .sol {
      flex-basis: 10%; }
    .RoverData .table-header .num-of-photos {
      flex-basis: 20%; }
    .RoverData .table-header .cameras {
      flex-basis: 50%; }
      .RoverData .table-header .cameras .camera {
        padding: 0 3px; }
    .RoverData .table-header .view-button {
      flex-basis: 20%; }
  .RoverData .table-row {
    position: relative;
    z-index: 0;
    display: flex; }
    .RoverData .table-row > div {
      border: 1px solid black;
      padding: 4px;
      box-sizing: border-box; }
    .RoverData .table-row .sol {
      flex-basis: 10%; }
    .RoverData .table-row .num-of-photos {
      flex-basis: 20%; }
    .RoverData .table-row .cameras {
      flex-basis: 50%; }
      .RoverData .table-row .cameras .camera {
        padding: 0 3px; }
    .RoverData .table-row .view-button {
      flex-basis: 20%; }
  .RoverData a {
    color: #eee; }

.images-render {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #6D969C;
  background-size: cover;
  background-attachment: fixed; }

.container {
  width: 80%;
  margin: 0 auto; }

.body {
  margin-top: 40px; }
